doctype html
html(lang="ru") 
    head
        meta(charset="utf-8")
        title WonChi
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="./css/reset.css")
        link(rel="stylesheet" href="./css/index.css")
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Oxanium:wght@500;600;700&family=Work+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
        


    body
        .cover-space
        header.header
            .header__content
                a.logo(href="/")
                    h1.logo__title WonChi
                .burger-menu
                    .burger-menu__content
                        nav.main-nav.header__center
                            ul.main-nav__list
                                li.main-nav__item 
                                    a.main-nav__link.main-nav__link_active(href ="#") Information
                                
                                li.main-nav__item
                                    a.main-nav__link(href ="#") About&nbsp;us
                                    
                                li.main-nav__item 
                                    a.main-nav__link(href ="#") Culture
                        label.search
                            .search__icon
                            input.search__form(type="text" placeholder="Search")
                    button.burger-menu__control
                    .space-cover
                        
        section.section.section-main
            .main-title
                .main-title__summary explore the world
                h1.main-title__text China
                    span.main-title__text_regular Eastern beauty
            .social-networks
                h3.social-networks__title Follow&nbsp;us
                ul.social-networks__list
                    li.social-networks__item 
                        a.social-networks__link(href="#")
                            .icon__instagram

                    li.social-networks__item 
                        a.social-networks__link(href="#")
                            .icon__twitter

                    li.social-networks__item 
                        a.social-networks__link(href="#")
                            .icon__facebook
            .scroll-down
        .container
            section.section-cols
                img.section-col.section-col__image(src="./images/15.jpg" alt="mountains")
                .section-col.section-col__content
                    .main-title.main-title_small
                        span.main-title__summary EAST NUSA TENGGARA
                        h2.main-title__text Torii&nbsp;
                    p A&nbsp;torii is&nbsp;a&nbsp;traditional China gate most commonly found at&nbsp;the entrance of&nbsp;or&nbsp;within a&nbsp;Shinto shrine, where it&nbsp;symbolically marks the transition from the mundane to&nbsp;the sacred.
                    a.arrow-link(href="#") read more
                
                        .arrow-link__icon.icon-arrow__rightward
            section.section-cols2
                .section-col.section-col__content
                    .main-title.main-title_small
                        span.main-title__summary EAST NUSA TENGGARA
                        h2.main-title__text Have you enjoyed&nbsp; your holiday?
                    p The function of&nbsp;a&nbsp;torii is&nbsp;to&nbsp;mark the entrance to&nbsp;a&nbsp;sacred space. For this reason, the road leading to&nbsp;a&nbsp;Shinto shrine (sandō) is&nbsp;almost always straddled by&nbsp;one or&nbsp;more torii, which are therefore the easiest way to&nbsp;distinguish a&nbsp;shrine from a&nbsp;Buddhist temple.
                    a.arrow-link(href="#") read more
                
                        .arrow-link__icon.icon-arrow__rightward
                img.section-col.section-col__image(src="./images/image2.jpg" alt="mountains")
            section.section-border 
                .start
                    h2.start__title  WonChi
                    a.git-hub(href="https://github.com/KortiNox" target="_blank")
                        img.git-hub__image(src="./images/icons/github.png", alt="github") 
                    .start__content
                        h4.start__desc
        
                        button.button Get started 
            footer.footer
                .footer__content
                    .subscribe
                        h3.subscribe__title Let&rsquo;s go&nbsp;on&nbsp;vacation, Make your day
                        .email
                            input.email__form(type="text" placeholder="Email adress")
                            button.button.email__button(type="submit") GO!
                    .menu 
                        h4.menu__list 
                            li.menu__item 
                                a.menu__link Services
                            li.menu__item 
                                a.menu__link About
                            li.menu__item  
                                a.menu__link Help
                    
                        
                        
                        
                            
            

    
    <script src="./js/index.js"></script> 


    
   
                
                
                




            



